{% extends 'base.html' %}

{% block content %}
    <div class="row" style="margin-bottom: 3rem">
        <div class="col s12 no-padding">
            <div class="card grey darken-4">
                <div class="card-content">
                    <div class="row break-lines">
                        <div class="col s12 m12 l10 offset-l1 no-padding">
                            <div class="row" id="fees">
                                <div class="col s12">
                                    <h2 class="thin">Pricing / Fees</h2>
                                    <div class="light" style="font-size: larger">
                                        <h4 class="thin">{{ request.settings.site_title }} has no set-up or monthly fees, we also do not have any commitment</h4>
                                        We do have a very straight-forward and very small fee structure, that is subtracted from your payments <br/><br/>
                                        For each coin we have a minimum transaction value, below which transactions are disregarded, a minimum fee and a percentage fee. <br/><br/>
                                        Our system's fee is the greatest value between the minimum fee and the fee percentage of the value of the transaction. <br/>
                                    </div>
                                    <h4 class="thin">Here are the fee values for each coin:</h4>
                                    <table class="responsive-table">
                                        <thead>
                                        <tr>
                                            <th>Coin</th>
                                            <th>Ticker</th>
                                            <th>Min. TX Value</th>
                                            <th>Min. Fee</th>
                                            <th>Fee</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for coin in coins %}
                                            <tr>
                                                <td>{{ coin.name }}</td>
                                                <td>{{ coin.ticker }}</td>
                                                <td>{{ coin.min_tx }}</td>
                                                <td>{{ coin.min_fee }}</td>
                                                <td>{{ coin.fee }}%</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
